* {
    box-sizing: border-box;
}

body {
    background: #EFEFEF;
    font-family: 'adobe clean', sans-serif;
    margin: 0;
}

main {
    margin: 0 auto;
}

p {
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 1rem;
}

/* Utilities */
.hidden {
    display: none;
}
