* {
    box-sizing: border-box;
}

body {
    background: #EFEFEF;
    font-family: 'adobe clean', sans-serif;
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

/* Utilities */
.hidden {
    display: none;
}
